<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vuejs.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <nav id='top-menu' class="navbar navbar-default" >
            <!--Logotipo-->
            <div class="navbar-header">
              <a href="#" class="navbar-brand">
                <img id='logo' src="images/bombilla.png">
              </a>
            </div>
            <!--Elementos del menu-->
            <ul class="nav navbar-nav">
              <li><a href="#">Noticias</a></li>
              <li><a href="#">Historia</a></li>
              <!--Boton desplegable-->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle='dropdown'>Distribuciones<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Fedora</a></li>
                  <li><a href="#">Ubuntu</a></li>
                  <li><a href="#">CentOs</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input class="form-control form-right" type='text' v-model="message">
              </div>
            </form>
        </nav>
      </div>
    </header>
    <!-- <pre>{{$data | json}}</pre> -->
    <div class="container" v-for="comando in comandos" v-show="message==comando.nombre">
      <section class="main" id='content'>
        <article class="col-md-6 bg-success">
          <h1 class="text-center"><span class="glyphicon glyphicon-chevron-left"></span>{{comando.nombre}}<span class="glyphicon glyphicon-chevron-right"></span></h1>
          <p><pre>{{comando.descripcion}}<br>{{comando.args}}</pre></p>
        </article>
      </section>
    </div>
    <script src="js/code.js" charset="utf-8"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
